.logo{
transform: translateX(-40px);
}

.bemvindo{ transform: translateX(-220px);
    

}
body{
    background-image: url(../imagens/hospital.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: bottom center;
    background-attachment: fixed;
    display: flex;
    flex-direction: column;
    height: 100vh;
    margin: 0; 
    color: white;
    text-align: center;
}

.addpac{
    background-image: linear-gradient(45deg, gray, black);
    position:absolute;
    width: 20%;
    border: none;
    border-radius: 5px;
    color: white;
    font-size: 20px;
    left: 39vw;
    top: 16vh;
}
.addpac:hover{
    background-image: linear-gradient(to right,black, #1C1C1C);
}
.table-bg{
    background: rgba(0, 0, 0, 0.3);
    border-radius: 15px 15px 0 0;
}

.box-search{
    display: flex;
    justify-content: center;
    gap: .1%;
}